{% extends 'base.html' %}

{% block title %}プロフィール編集{% endblock %}

{% block content %}
<div class="profile-edit-section">
    <h1 class="mb-4">プロフィール編集</h1>
    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ form.display_name.label_tag }}
            {{ form.display_name }}
        </div>
        <div class="form-group mb-3">
            {{ form.year.label_tag }}
            {{ form.year }}
        </div>
        <div class="form-group mb-3">
            {{ form.department.label_tag }}
            {{ form.department }}
        </div>
        <div class="form-group mb-3">
            {{ form.gpa.label_tag }}
            {{ form.gpa }}
            {% if form.gpa.errors %}
                <div class="error">
                    {{ form.gpa.errors }}
                </div>
            {% endif %}
        </div>
        <div class="form-group mb-3">
            {{ form.icon.label_tag }}
            {{ form.icon }}
            {% if form.icon.errors %}
                <div class="error">
                    {{ form.icon.errors }}
                </div>
            {% endif %}
        </div>
        
        <div class="form-group mb-3">
            {{ form.circle.label_tag }}
            {{ form.circle }}
        </div>
        <button type="submit" class="btn btn-primary">保存する</button>
    </form>
</div>
{% endblock %}
