# Python
__pycache__/
*.py[cod]
env/

# Django
*.sqlite3
*.log

# Docker
*.env
docker-compose.override.yml

# Ignore migration files
uniqa/likes/migrations/
uniqa/polls/migrations/
uniqa/questions/migrations/
uniqa/users/migrations/
uniqa/media/
