# Python
__pycache__/
*.py[cod]
env/

# Django
*.sqlite3
*.log

# Docker
*.env
docker-compose.override.yml

# Ignore migration files
src/uniqa/likes/migrations/
src/uniqa/polls/migrations/
src/uniqa/questions/migrations/
src/uniqa/users/migrations/
src/uniqa/media/

# Terraform
src/uniqa/terraform/terraform.tfstate
src/uniqa/terraform/terraform.tfstate.backup
src/uniqa/terraform/.terraform/
