{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}UNIQA{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/"><img src="{% static 'images/UNIQA_white.png' %}" width="100px"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <!-- {% if user.is_authenticated %} -->
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'questions:question_form' %}">質問を投稿</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:settings' %}">アカウント設定</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">ログアウト</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:login' %}">ログイン</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:signup' %}">会員登録</a>
                    </li>
                    <!-- {% else %} -->

                    <!-- {% endif %} -->
                </ul>
            </div>
        </div>
    </nav>
    <main class="container mt-5">
        {% block content %}{% endblock %}
    </main>
    <footer class="bg-dark text-white text-center py-3">
        <p>© 2024 UNIQA</p>
    </footer>
</body>

</html>