{% extends 'base.html' %}

{% block title %}質問を投稿{% endblock %}

{% block content %}
<div class="question-form-section">
    <h2 class="mb-4">質問を投稿</h2>
    <form method="post" enctype="multipart/form-data" class="form-container">
        {% csrf_token %}
        <div class="form-group mb-3">
            {{ form.category.label_tag }}
            {{ form.category }}
        </div>
        <div class="form-group mb-3">
            {{ form.title.label_tag }}
            {{ form.title }}
        </div>
        <div class="form-group mb-3">
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>
        <div class="form-group mb-4">
            {{ form.image.label_tag }}
            {{ form.image }}
        </div>
        <button type="submit" class="btn btn-primary">投稿</button>
    </form>
</div>
{% endblock %}
